.container {
  display: grid;
  grid-template-rows: 1fr auto;
  min-height: 100vh;
}

.container-h {
  composes: container;
  grid-template-rows: auto 1fr auto;
}

.header {
  height: 50px;
  width: 100%;
  background-color: #ffffff;
  color: var(--blue);
  font-size: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main {
  height: 100%;
  padding: 0 1rem;

  & > div {
    height: 100%;
  }
}

.footer {
  margin-top: 1rem;
  height: 100px;
  background-color: var(--pink);
  color: var(--blue);
  display: flex;
  align-items: flex-end;
  padding: 1rem;
  justify-content: center;
  position: relative;

  a {
    position: absolute;
    left: 1rem;
    top: 1rem;
  }
}
