@import url("https://fonts.googleapis.com/css2?family=Telex&display=swap");

:root {
  --blue: #0e3150;
  --pink: #ffc0c2;
  --pinkish: #f7e9e3;
}

html,
body {
  font-family: "Telex", sans-serif;
  background-color: var(--pinkish);
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.mapboxgl-popup.mapboxgl-popup-anchor-left .mapboxgl-popup-tip {
  border-right-color: var(--blue);
}

.mapboxgl-popup.mapboxgl-popup-anchor-right .mapboxgl-popup-tip {
  border-left-color: var(--blue);
}

.mapboxgl-popup.mapboxgl-popup .mapboxgl-popup-tip {
  border-bottom-color: var(--blue);
}

.store-popup.mapboxgl-popup.mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip {
  border-top-color: var(--blue);
}

.mapboxgl-popup .mapboxgl-popup-content {
  background-color: var(--blue);
  color: #fff;
  padding: 1.75rem 1rem;
}

.mapboxgl-popup .mapboxgl-popup-close-button {
  color: #fff;
}

.mapboxgl-popup-close-button {
  font-size: 1.5rem;
}

.store-popup.mapboxgl-popup .mapboxgl-popup-close-button {
  color: #000;
}

.store-popup.mapboxgl-popup .mapboxgl-popup-content {
  background-color: var(--pinkish);
  box-shadow: 0px 0px 10px 2px #0e315020;
  color: #000;
  width: 100vw;
  max-width: 200px;
  overflow: hidden;
}

.store-popup.mapboxgl-popup.mapboxgl-popup-anchor-left .mapboxgl-popup-tip {
  border-right-color: var(--pinkish);
}

.store-popup.mapboxgl-popup.mapboxgl-popup-anchor-right .mapboxgl-popup-tip {
  border-left-color: var(--pinkish);
}

.store-popup.mapboxgl-popup.mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip {
  border-top-color: var(--pinkish);
}

.store-popup.mapboxgl-popup.mapboxgl-popup .mapboxgl-popup-tip {
  border-bottom-color: var(--pinkish);
  position: relative;
}
